body{
    margin: 0;
    padding: 30;
    overflow: hidden;
    background: #313131;
}
h1{
    width: 10%;
}

canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
    height: 80vh;
    width: 100%;
}

.tools{
   display: flex;
   justify-content: center;
   margin-top: 25px; 
}

.tools .color-field{
    height: 40px;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-items: center;
    margin: 0 10px;
}

.tools .button{
   align-self: center;
   width: 100px;
   height: 40px;
   border: 2px solid white;
   cursor: pointer;
   background: #222;
   color: white;
   font-weight: bold;
   margin: 0 10px;
}
.tools .button:hover{
    background-color: white;
    color: #222;
}

.color-picker{
    align-self: center;
    margin: 0 10px;
    height: 50px;
}

.pen-range{
    align-self: center;
    margin: 0 10px;
}

#download{
    width: 5rem;
    height: 2rem;
    margin-right: 30%;
    border-radius: 10px;
    border: none;
    background: rgb(43, 163, 242);
    color: white;
    cursor: pointer;
    /* margin-bottom: 20%; */
}
#download:hover{
    filter: brightness(150%);
}
